@model ClubMates.Models.Student
@{
    ViewBag.Title = "AddStudent";
}

<h2>AddStudent</h2>

<form action="/Home/AddStudent" method="post">
    <label>StudnetID</label>
    <input type="text" name="StudentID" value="@Model.StudentID" />
    <br />
    <label>Name</label>
    <input type="text" name="StudentName" value="@Model.StudentName" />
    <br />
    <label>Date of Birth</label>
    <input type="date" name="DateOfBirth" value="@Model.DateOfBirth" />
    <br />
    <label>Height</label>
    <input type="number" name="Height" value="@Model.Height" />
    <br />
    <label>Weight</label>
    <input type="number" name="Weight" value="@Model.Weight" />
    <br />
    <button type="submit">Save</button>
</form>